

/*===================*/
/*=== Main Styles ===*/
/*===================*/

.slider-wrapper { 
	width: 93%; 
	margin: 15px auto;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}